@model IEnumerable<CochesCutres.Models.Vehiculo>

@{
    ViewBag.Title = "Vehículos";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 5px;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        th {
            background-color: darkred;
            color: white;
        }

        .boton {
            width: 100%;
            background-color: darkred;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .boton:hover {
            width: 100%;
            background-color: indianred;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1 style="color: darkred">Coches Cutres</h1>
    <hr style="border: 1px solid darkred" />
    <h2 style="color: darkred">Lista de vehículos</h2>
    <div>
        <table class="table">
            <tr>
                <th>
                    Marca
                </th>
                <th>
                    Modelo
                </th>
                <th>
                    Puertas
                </th>
                <th>
                    Color
                </th>
                <th>
                    Km
                </th>
                <th>
                    Tipo
                </th>
                <th>
                    Garantía (meses)
                </th>
                <th>
                    En stock
                </th>
                <th>
                    Foto
                </th>
                <th>
                    Modificar
                </th>
            </tr>

            @foreach (var vehiculo in Model)
            {
            <tr>
                <td>
                    @vehiculo.marca
                </td>
                <td>
                    @vehiculo.modelo
                </td>
                <td>
                    @vehiculo.numPuertas
                </td>
                <td>
                    @vehiculo.color
                </td>
                <td>
                    @vehiculo.kilometros
                </td>
                <td>
                    @vehiculo.tipoVehiculo
                </td>
                <td>
                    @vehiculo.garantia
                </td>
                <td>
                    @vehiculo.stock
                </td>
                <td>
                    @vehiculo.fotografia
                </td>
                <td>
                    <a href="/Home/Modificacion?id=@vehiculo.id">Modificar</a>
                </td>
            </tr>
            }

        </table>
        <a class="boton" href="/Home/Alta">Añadir vehículo</a>
    </div>
</body>
</html>